USE [db_dealerconnect]
GO
/****** Object:  StoredProcedure [dbo].[spDelBarcodeTmp]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spDelBarcodeTmp]
	@CreateBy varchar(30)
AS
BEGIN
	Delete  from [dbo].[QR_BARCODE_IMPORT_TEMP]
	where CREATE_BY = @CreateBy
END

GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeByBarcode]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetBarcodeByBarcode]
	@PONo varchar(50),
	@BCStart varchar(15),
	@BCEnd varchar(15)
AS
BEGIN

--declare @PONo varchar(50)
--declare	@BCStart varchar(15)
--declare	@BCEnd varchar(15)
--set	    @PONo = NULL
--set		@BCStart = '200000000001'
--set		@BCEnd = '200000000010'

If(OBJECT_ID('tempdb..#TbBarcodeTmp') Is Not Null) Drop Table #TbBarcodeTmp
Select * into #TbBarcodeTmp from [QR_STOCK_BARCODE]
 where PO_NO like '%'+isnull(@PONo,PO_NO)+'%'
 and cast(BARCODE as BIGINT) between cast(isnull(@BCStart,0) as BIGINT) and cast(ISNULL(@BCEnd,999999999999) as BIGINT)
 and STATUS_ID = 1

 Select ID,Barcode,QR_CODE as QrCode,PO_NO as PONo from #TbBarcodeTmp

--If(OBJECT_ID('tempdb..#TbBarcodeTmp2') Is Not Null) Drop Table #TbBarcodeTmp2
--Select PO_NO as PONo,
--(Select count(*) from #TbBarcodeTmp  where  PO_NO = T.PO_NO) as Total,
--(Select count(*) from #TbBarcodeTmp where [STATUS_ID] > 1 AND PO_NO = T.PO_NO) as TotalReceive
--into #TbBarcodeTmp2
--from #TbBarcodeTmp T
--group by PO_NO


--select *,(case when totalreceive = 0 then 'รอรับ' else 'รับบางส่วน' end) Status from #TbBarcodeTmp2
--where Total <> TotalReceive

END



GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeByPO]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetBarcodeByPO]
	@PONo varchar(50)
AS
BEGIN
	
If(OBJECT_ID('tempdb..#TbBarcodeTmp') Is Not Null) Drop Table #TbBarcodeTmp
Select * into #TbBarcodeTmp from [QR_STOCK_BARCODE]
 where PO_NO like '%'+isnull(@PONo,PO_NO)+'%'

If(OBJECT_ID('tempdb..#TbBarcodeTmp2') Is Not Null) Drop Table #TbBarcodeTmp2
Select PO_NO as PONo,
(Select count(*) from #TbBarcodeTmp  where  PO_NO = T.PO_NO) as Total,
(Select count(*) from #TbBarcodeTmp where [STATUS_ID] > 1 AND PO_NO = T.PO_NO) as TotalReceive
into #TbBarcodeTmp2
from #TbBarcodeTmp T
group by PO_NO


select *,(case when totalreceive = 0 then 'รอรับ' else 'รับบางส่วน' end) Status from #TbBarcodeTmp2
where Total <> TotalReceive

END


GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeTransfer]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetBarcodeTransfer]
	@Department nvarchar(100),
	@TrNO varchar(20),
	@FromDept nvarchar(100),
	@ToDept nvarchar(100),
	@BarcodeStart varchar(15),
	@BarcodeEnd varchar(15),
	@DateStart varchar(15),
	@DateEnd varchar(15),
	@Status varchar(5)
AS
BEGIN
    Declare @Day1 varchar(15)
	Declare @Day2 varchar(15)

	Declare @Dept1 varchar(100)
	Declare @Dept2 varchar(100)

	Set @Day1 = null
	Set @Day2 = null
	if @DateStart is not null  
		begin 
			Set @Day1 = RIGHT(@DateStart,4) + '-' + SUBSTRING(@DateStart,4,2) + '-' + LEFT(@DateStart,2)
		end

	if  @DateEnd is not null 
		begin
			
			Set @Day2 = RIGHT(@DateEnd,4) + '-' + SUBSTRING(@DateEnd,4,2) + '-' + LEFT(@DateEnd,2)
		end

	Set @Dept1 = @FromDept
	Set @Dept2 = @ToDept

	if  @FromDept = 'ALL'
		Set @Dept1 = null

	if  @ToDept = 'ALL'
		Set @Dept2 = null


	DECLARE @XML AS XML
	DECLARE @Delimiter AS CHAR(1) =','
	SET @XML = CAST(('<X>'+REPLACE(@Status,@Delimiter ,'</X><X>')+'</X>') AS XML)
	If(OBJECT_ID('tempdb..#tbStatus') Is Not Null) Drop Table #tbStatus
	SELECT N.value('.', 'VARCHAR(3)') AS ID into #tbStatus FROM @XML.nodes('X') AS T(N)
	--Select  ID from #tbStatus

	SELECT BT.*,
	--(Select [DEPT_NAME] from DEPARTMENT where DEPT_ID = BT.TR_FROM) as FromDept
	--,(Select [DEPT_NAME] from DEPARTMENT where DEPT_ID = BT.TR_TO) as ToDept,
	S.STATUS_NAME
	  FROM [QR_BARCODE_TRANSFER] BT
	  left join [QR_STATUS] S on BT.STATUS_ID = S.STATUS_ID
	  where  (cast(BT.STATUS_ID as varchar(5)) in (Select  ID from #tbStatus) or @Status is null)
	   --(ISNULL(@Status,BT.STATUS_ID ))
	  --AND BT.TR_TO = ISNULL(@Department,BT.TR_TO) -- Current Dept User
	  AND BT.TR_TO = ISNULL(@Dept2,BT.TR_TO)
	  AND BT.TR_NO = ISNULL(@TrNO,BT.TR_NO)
	  AND BT.TR_FROM = ISNULL(@Dept1,BT.TR_FROM)
	  AND BT.BARCODE_FROM = ISNULL(@BarcodeStart,BT.BARCODE_FROM)
	  AND BT.BARCODE_TO = ISNULL(@BarcodeEnd,BT.BARCODE_TO)
	  AND BT.TR_DATE 
		Between ISNULL(cast(@Day1 as datetime),BT.TR_DATE) and ISNULL(cast(@Day2 as datetime),BT.TR_DATE)
END

GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeTransferRunningNo]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetBarcodeTransferRunningNo]
AS
BEGIN
	
	If(OBJECT_ID('tempdb..#TbRunning') Is Not Null) Drop Table #TbRunning
DECLARE @docType varchar(2) = 'TR'
DECLARE @prefix varchar(6)
DECLARE @running varchar(4)
DECLAre @TrNo varchar(20)
SET @prefix =  CAST(DAY(GETDATE()) as varchar(2))+ Cast(MONTH(GETDATE()) as varchar(2)) +right(cast(YEAR(GETDATE()) as varchar(4)),2)
--print @prefix

Select @running = right('0000'+cast(number as varchar(4)),4) from QR_M_DOC_RUNNING
	 where Doc_Type = @docType and Prefix = @prefix 

if @running is  null
	begin
	  Set @running = right('0000'+ISNULL(@running,'1'),4)
	  Set @TrNo = @docType+@prefix+@running
	  
	  insert into [QR_M_DOC_RUNNING]
			select @docType,@prefix,1

	end
else
	begin
		set @running = cast(@running as int)+1
		Set @running = right('0000'+ISNULL(@running,'1'),4)
		Set @TrNo = @docType+@prefix+@running

		DECLARE @Count int
        Select @Count = count(*) from [QR_BARCODE_TRANSFER] where TR_NO = @TrNo
		
		if(@Count >0)
			update [QR_M_DOC_RUNNING] set number = @running
			where Doc_Type = @docType and Prefix = @prefix
	end


select  @TrNo as Running

END

GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeVoidDamage]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[spGetBarcodeVoidDamage]
	@Barcode varchar(20)
AS
BEGIN

	Select * from [QR_BARCODE_VOID_DAMAGE]
	where ltrim(rtrim(Barcode)) = ltrim(rtrim(isnull(@Barcode,Barcode)))

END

GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeVoidReturn]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[spGetBarcodeVoidReturn]
	@Barcode varchar(20)
AS
BEGIN

	Select * from [QR_BARCODE_VOID_RETURN]
	where ltrim(rtrim(Barcode)) = ltrim(rtrim(isnull(@Barcode,Barcode)))

END


GO
/****** Object:  StoredProcedure [dbo].[spGetBarcodeVoidTintOneShot]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[spGetBarcodeVoidTintOneShot]
	@Barcode varchar(20)
AS
BEGIN

	Select * from [QR_VOID_TINT_ONESHORT]
	where ltrim(rtrim(Barcode)) = ltrim(rtrim(isnull(@Barcode,Barcode)))

END



GO
/****** Object:  StoredProcedure [dbo].[spGetDepartment]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetDepartment]
	@Condition varchar(50)
AS
BEGIN
	 --if @Condition = '1'
		Select * from [DEPARTMENT] where DEPT_STATUS = 'T'
	 
	 --else 
		--Select * from [DEPARTMENT]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetInformationUser]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetInformationUser]
	@UserName varchar(50),
	@Password varchar(50)
AS
BEGIN
	SELECT U.*,P.MENU_ID,D.DEPT_NAME FROM [USER] U
		left join ROLES_PRIVILEGE P on U.ROLES_ID = P.ROLES_ID
		left join DEPARTMENT D on U.DEPT_ID = D.DEPT_ID
	WHERE [USER_NAME] = @UserName
	and [USER_PWD] = @Password
END

GO
/****** Object:  StoredProcedure [dbo].[spGetStatus]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetStatus]
	@Condition varchar(50)
AS
BEGIN
	 --if @Condition = '1'
		Select * from QR_STATUS where FUNC_TYPE = 'QR_STOCK_BARCODE'
	 
	 --else 
		--Select * from [DEPARTMENT]

END


GO
/****** Object:  StoredProcedure [dbo].[spGetStockBarcode]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetStockBarcode]
	@Barcode varchar(15),
	@PONo varchar(50),
	@LastEditStart varchar(15),
	@LastEditEnd varchar(15),
	@Department nvarchar(200),
	@Status varchar(5)
AS
BEGIN
	Declare @Day1 varchar(15)
	Declare @Day2 varchar(15)

	Declare @Dept nvarchar(200)

	Set @Day1 = null
	Set @Day2 = null
	if @LastEditStart is not null  
		begin 
			Set @Day1 = RIGHT(@LastEditStart,4) + '-' + SUBSTRING(@LastEditStart,4,2) + '-' + LEFT(@LastEditStart,2)
		end

	if  @LastEditEnd is not null 
		begin
			
			Set @Day2 = RIGHT(@LastEditEnd,4) + '-' + SUBSTRING(@LastEditEnd,4,2) + '-' + LEFT(@LastEditEnd,2)
		end
	 Set @Dept = @Department
	 if @Department = 'ALL'
		 Set @Dept  = null

	 If(OBJECT_ID('tempdb..#TbStBarcode') Is Not Null) Drop Table #TbStBarcode

	 Select ROW_NUMBER() OVER(ORDER BY ID ASC) AS No,B.PO_NO as PONo,
	 B.BARCODE,B.LAST_DEPARTMENT as DEPARTMENT,B.WAREHOUSE,
	 CONVERT(VARCHAR(10), B.CREATE_DATE, 103) as CreateDate,
	 B.LAST_UPDATE_BY as LastEditBy,
	 CONVERT(VARCHAR(10),B.LAST_UPDATE_DATE, 103)  as LastEditDate
	 ,S.STATUS_NAME as Status
	 into #TbStBarcode
	 from [QR_STOCK_BARCODE] B
	 left join QR_STATUS S on B.STATUS_ID = S.STATUS_ID
	 Where B.BARCODE = ISNULL(@Barcode,B.BARCODE)
	 and B.PO_NO = ISNULL(@PONo,B.PO_NO)
	 --and CONVERT(date,B.LAST_UPDATE_DATE) between isnull(@Day1,CONVERT(date,B.LAST_UPDATE_DATE)) and isnull(@Day2,CONVERT(date,B.LAST_UPDATE_DATE))
	 and isnull(CONVERT(date,B.LAST_UPDATE_DATE),B.CREATE_DATE) between isnull(@Day1,isnull(CONVERT(date,B.LAST_UPDATE_DATE),B.CREATE_DATE)) 
and isnull(@Day2,isnull(CONVERT(date,B.LAST_UPDATE_DATE),B.CREATE_DATE))
	 and B.LAST_DEPARTMENT = ISNULL(@Dept,B.LAST_DEPARTMENT)
	 and B.STATUS_ID = ISNULL(@Status,B.STATUS_ID) 

	 Select * from #TbStBarcode

END

GO
/****** Object:  StoredProcedure [dbo].[spInsBarcode]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spInsBarcode]
	@CreateBy varchar(5),
	@Department nvarchar(200)
AS
BEGIN
	
	If(OBJECT_ID('tempdb..#TbBarcodeTmp') Is Not Null) Drop Table #TbBarcodeTmp

	Select * into #TbBarcodeTmp from [QR_BARCODE_IMPORT_TEMP]

	Declare @Id int
	Declare @Barcode varchar(50)
	Declare @QrCode varchar(50)
	Declare @PoNo varchar(50)

	While (Select Count(*) From #TbBarcodeTmp) > 0
	Begin

		Select Top 1 @Id = Id,@Barcode = BARCODE,@QrCode = QR_CODE,@PoNo = PO_NO From #TbBarcodeTmp;

		IF (Select count(*) from [QR_STOCK_BARCODE] SB
		where SB.BARCODE=  @Barcode
		and SB.PO_NO = @PoNo 
		and SB.QR_CODE = @QrCode) > 0
			Begin
			 Update [QR_BARCODE_IMPORT_TEMP] set [STATUS] = 'Duplicate'
			 where Id = @Id;
			end
		Else
			begin
				Insert into [QR_STOCK_BARCODE] ([BARCODE]
			   ,[QR_CODE],[PO_NO],[COIN_TYPE_ID],[COIN_TYPE_NAME],[STATUS_ID],[FUNC_TYPE]
			   ,[IS_DESTROY],[WAREHOUSE],[LAST_DEPARTMENT],[CREATE_DATE],[CREATE_BY])
				Values(
				@Barcode,@QrCode,@PoNo,
				(select COIN_TYPE_ID  from QR_COIN_TYPE where COIN_TYPE_NAME = left(@Barcode,2)),
				(select COIN_TYPE_NAME  from QR_COIN_TYPE where COIN_TYPE_NAME = left(@Barcode,2)),
				1,'QR_BARCODE_IMPORT_TEMP','N','Import',@Department,GETDATE(),@CreateBy
				)

				Update [QR_BARCODE_IMPORT_TEMP] set [STATUS] = 'Insert'
				 where Id = @Id;
		    end
		
		Delete #TbBarcodeTmp Where Id = @Id;

	End

	Select PO_NO,QR_CODE,BARCODE,STATUS from [QR_BARCODE_IMPORT_TEMP]
END


GO
/****** Object:  StoredProcedure [dbo].[spInsBarcodeTmp]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsBarcodeTmp]
	@PONo varchar(50),
	@QrCode varchar(50),
	@Barcode varchar(50),
	@Remark varchar(50),
	@Status varchar(50),
	@CreateBy varchar(50)
AS
BEGIN

	insert into [QR_BARCODE_IMPORT_TEMP]([PO_NO],[QR_CODE],[BARCODE],[REMARK],[STATUS],[CREATE_DATE],[CREATE_BY]) 
	values(@PONo,@QrCode,@Barcode,@Remark,@Status,GETDATE(),@CreateBy)


END

GO
/****** Object:  StoredProcedure [dbo].[spInsBarcodeTransfer]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spInsBarcodeTransfer]
	@trNo nvarchar(20) ,
	@fromDept nvarchar(100) ,
	@toDept nvarchar(100) ,
	@startBar nvarchar(15) ,
	@endBar nvarchar(15) ,
	@qty nvarchar(5) ,
	@transDate nvarchar(20) ,
	@createBy nvarchar(max) 
 AS
BEGIN
	
  insert into [QR_BARCODE_TRANSFER] ([TR_NO],[TR_DATE],[TR_FROM],[TR_TO],[BARCODE_FROM],[BARCODE_TO],[TOTAL_QTY],[STATUS_ID],[CREATE_BY],[CREATE_DATE])
  values (@trNo,getdate(),@fromDept,@toDept,@startBar,@endBar,@qty,20,@createBy,GETDATE())

  Declare @running int
  DECLARE @docType varchar(2) = 'TR'
  DECLARE @prefix varchar(6)
  SET @prefix =  CAST(DAY(GETDATE()) as varchar(2))+ Cast(MONTH(GETDATE()) as varchar(2)) +right(cast(YEAR(GETDATE()) as varchar(4)),2)
  Set @running  = right(@trNo,4)

  update [QR_M_DOC_RUNNING] set  NUMBER = @running
  where PREFIX = @prefix and DOC_TYPE = @docType
END

GO
/****** Object:  StoredProcedure [dbo].[spInsBarcodeVoidDamage]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spInsBarcodeVoidDamage]
	@Barcode nvarchar(max),
	@CreateBy varchar(max),
	@Department varchar(max)
AS
BEGIN

 --Declare @String  VARCHAR(MAX), 
 Declare @Separator CHAR(1)
 Declare @RESULT TABLE(Id int,Value VARCHAR(MAX))
 Declare @TmpBarcode varchar(15)
 Declare @TmpId int
 --Set @String = '20000000004,20000000005'
 Set @Separator = ','
 DECLARE @XML XML
 SET @XML = CAST(
    ('<i>' + REPLACE(@Barcode, @Separator, '</i><i>') + '</i>')
    AS XML)
 
 INSERT INTO @RESULT
 SELECT ROW_NUMBER() OVER(ORDER BY t.i.value('.', 'VARCHAR(MAX)')  ASC) AS Row,t.i.value('.', 'VARCHAR(MAX)') 
 FROM @XML.nodes('i') AS t(i)
 WHERE t.i.value('.', 'VARCHAR(MAX)') <> ''

 Declare @Count int
 while (select count(*) from @RESULT) > 0
	begin
		Set @Count = 0
		Select top 1 @TmpId = Id,@TmpBarcode = Value from @Result order by Id
		
		Select @Count = count(*) from [QR_STOCK_BARCODE] where rtrim(ltrim(Barcode)) = rtrim(ltrim(@TmpBarcode))
		--print @Count
		--print @TmpBarcode
		if (@Count >0)
			begin
				insert into QR_BARCODE_VOID_DAMAGE ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'Void-Damaged')
				--status 4  = void damage

				update [QR_STOCK_BARCODE] set [STATUS_ID] = 4 , FUNC_TYPE ='QR_BARCODE_VOID_DAMAGE',
				[WAREHOUSE] = 'Damaged' , [LAST_DEPARTMENT] = @Department,LAST_UPDATE_DATE = GETDATE(),LAST_UPDATE_BY = @CreateBy
				where [BARCODE] = @TmpBarcode
			end
		
		else
			begin
				insert into QR_BARCODE_VOID_DAMAGE ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'ไม่พบข้อมูล')
			end

		delete from @Result where Id = @TmpId
	end
END


GO
/****** Object:  StoredProcedure [dbo].[spInsBarcodeVoidReturn]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spInsBarcodeVoidReturn]
	@Barcode nvarchar(max),
	@CreateBy varchar(max),
	@Department varchar(max)
AS
BEGIN

 --Declare @String  VARCHAR(MAX), 
 Declare @Separator CHAR(1)
 Declare @RESULT TABLE(Id int,Value VARCHAR(MAX))
 Declare @TmpBarcode varchar(15)
 Declare @TmpId int
 --Set @String = '20000000004,20000000005'
 Set @Separator = ','
 DECLARE @XML XML
 SET @XML = CAST(
    ('<i>' + REPLACE(@Barcode, @Separator, '</i><i>') + '</i>')
    AS XML)
 
 INSERT INTO @RESULT
 SELECT ROW_NUMBER() OVER(ORDER BY t.i.value('.', 'VARCHAR(MAX)')  ASC) AS Row,t.i.value('.', 'VARCHAR(MAX)') 
 FROM @XML.nodes('i') AS t(i)
 WHERE t.i.value('.', 'VARCHAR(MAX)') <> ''

 Declare @Count int
 while (select count(*) from @RESULT) > 0
	begin
		Set @Count = 0
		Select top 1 @TmpId = Id,@TmpBarcode = Value from @Result order by Id
		
		Select @Count = count(*) from [QR_STOCK_BARCODE] where rtrim(ltrim(Barcode)) = rtrim(ltrim(@TmpBarcode))
		--print @Count
		--print @TmpBarcode
		if (@Count >0)
			begin
				insert into QR_BARCODE_VOID_RETURN ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'รับคืน')
				--status 9  = Voided-Return

				update [QR_STOCK_BARCODE] set [STATUS_ID] = 9 , FUNC_TYPE ='QR_BARCODE_VOID_RETURN',
				[WAREHOUSE] = @Department , [LAST_DEPARTMENT] = @Department,LAST_UPDATE_DATE = GETDATE(),LAST_UPDATE_BY = @CreateBy
				where [BARCODE] = @TmpBarcode
			end
		
		else
			begin
				insert into QR_BARCODE_VOID_RETURN ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'ไม่พบข้อมูล')
			end

		delete from @Result where Id = @TmpId
	end
END



GO
/****** Object:  StoredProcedure [dbo].[spInsBarcodeVoidTintOneShot]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[spInsBarcodeVoidTintOneShot]
	@Barcode nvarchar(max),
	@CreateBy varchar(max),
	@Department varchar(max)
AS
BEGIN

 --Declare @String  VARCHAR(MAX), 
 Declare @Separator CHAR(1)
 Declare @RESULT TABLE(Id int,Value VARCHAR(MAX))
 Declare @TmpBarcode varchar(15)
 Declare @TmpId int
 --Set @String = '20000000004,20000000005'
 Set @Separator = ','
 DECLARE @XML XML
 SET @XML = CAST(
    ('<i>' + REPLACE(@Barcode, @Separator, '</i><i>') + '</i>')
    AS XML)
 
 INSERT INTO @RESULT
 SELECT ROW_NUMBER() OVER(ORDER BY t.i.value('.', 'VARCHAR(MAX)')  ASC) AS Row,t.i.value('.', 'VARCHAR(MAX)') 
 FROM @XML.nodes('i') AS t(i)
 WHERE t.i.value('.', 'VARCHAR(MAX)') <> ''

 Declare @Count int
 while (select count(*) from @RESULT) > 0
	begin
		Set @Count = 0
		Select top 1 @TmpId = Id,@TmpBarcode = Value from @Result order by Id
		
		Select @Count = count(*) from [QR_STOCK_BARCODE] where rtrim(ltrim(Barcode)) = rtrim(ltrim(@TmpBarcode))
		--print @Count
		--print @TmpBarcode
		if (@Count >0)
			begin
				insert into [QR_VOID_TINT_ONESHORT] ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'Void Tint')
				--status 10	Voided-Tint

				update [QR_STOCK_BARCODE] set [STATUS_ID] = 10 , FUNC_TYPE ='QR_VOID_TINT_ONESHORT',
				[WAREHOUSE] = @Department , [LAST_DEPARTMENT] = @Department,LAST_UPDATE_DATE = GETDATE(),LAST_UPDATE_BY = @CreateBy
				where [BARCODE] = @TmpBarcode
			end
		
		else
			begin
				insert into [QR_VOID_TINT_ONESHORT] ([BARCODE],[CREATE_DATE],[CREATE_BY],[DEPARTMENT_BY],[STATUS])
				values (@TmpBarcode,GETDATE(),@CreateBy,@Department,'ไม่พบข้อมูล')
			end

		delete from @Result where Id = @TmpId
	end
END




GO
/****** Object:  StoredProcedure [dbo].[spLSTRoles]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLSTRoles]
	@Condition nvarchar(max)
AS
BEGIN
	 Select 1,2,3,4,5
END

GO
/****** Object:  StoredProcedure [dbo].[spLSTUsername]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[spLSTUsername]
	@FullName nvarchar(max)
AS
BEGIN
	SELECT [Id]
      ,[FullName]
      ,[Email]
  FROM [dbo].[Username]	
  WHERE  FullName LIKE '%' + ISNULL(@FullName, FullName) + '%'
END



GO
/****** Object:  StoredProcedure [dbo].[spUpdBarcodeByBarcode]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUpdBarcodeByBarcode]
	@BarcodeId varchar(15),
	@Department nvarchar(200),
	@UpdateBy varchar(5)
AS
BEGIN
	
	--if @Department <> ''
		Update [QR_STOCK_BARCODE]  Set STATUS_ID = 2 , [LAST_UPDATE_DATE] = GETDATE() , [LAST_UPDATE_BY] = @UpdateBy
		WHERE BARCODE = @BarcodeId 
	--else 
	--	Update [QR_STOCK_BARCODE]  Set STATUS_ID = 2
	--	WHERE ID = @BarcodeId

END



GO
/****** Object:  StoredProcedure [dbo].[spUpdBarcodeByPO]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUpdBarcodeByPO]
	@PONo varchar(50),
	@Department nvarchar(200),
	@UpdateBy varchar(5)
AS
BEGIN
	
	--if @Department <> ''
	--	Update [QR_STOCK_BARCODE]  Set STATUS_ID = 2
	--	WHERE PO_NO = @PONo AND [LAST_DEPARTMENT] = @Department
	--else 
	--	Update [QR_STOCK_BARCODE]  Set STATUS_ID = 2
	--	WHERE PO_NO = @PONo 

		Update [QR_STOCK_BARCODE]  Set STATUS_ID = 2 ,WAREHOUSE = @Department,LAST_UPDATE_BY = @UpdateBy,
		LAST_UPDATE_DATE = GETDATE()
		WHERE PO_NO = @PONo 
		

END


GO
/****** Object:  StoredProcedure [dbo].[spUpdBarcodeTransfer]    Script Date: 12/25/2017 11:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spUpdBarcodeTransfer]
	@trNo nvarchar(20) ,
	--@fromDept nvarchar(100) ,
	--@toDept nvarchar(100) ,
	--@startBar nvarchar(15) ,
	--@endBar nvarchar(15) ,
	--@qty nvarchar(5) ,
	--@transDate nvarchar(20) ,
	@updateBy nvarchar(100),
	@status varchar(50) ,
	@remark nvarchar(max)
 AS
BEGIN
	
  if @status = '21'
	   Update [QR_BARCODE_TRANSFER] Set
	   STATUS_ID = 21 , RECEIVE_DATE = GETDATE(),LAST_UPDATE_DATE = GETDATE(),LAST_UPDATE_BY = @updateBy
	   where TR_NO = @trNo
  else 
   -- @status = 22
	   Update [QR_BARCODE_TRANSFER] Set
	   STATUS_ID = 22 ,REMARK = @remark , REJECT_DATE = GETDATE(),LAST_UPDATE_DATE = GETDATE(),LAST_UPDATE_BY = @updateBy
	   where TR_NO = @trNo
      
END


GO
